<footer>

  <div class="container px-2">
    <div class="row emailSec mx-1">
      <div class="col-md-12 col-lg-6">
        <h1>Suscribe newsletter to get updated</h1>
        <p>We'll never share your email with a third-party.</p>
      </div>
      <div class="col-md-12 col-lg-6 position-relative">
        <input type="text" placeholder="Enter your email address here..." class="form-control d-inline">
        <button class="btn btn-warning" (click)="subscribeEmail()">Subscribe</button>
      </div>
    </div>
  </div>

  <div class="customBorder"></div>

  <div class="container mt-2">
    <div class="row pt-2 footerContainer align-items-center">
      <div class="col-lg-3 col-md-6 col-12">
        <h2 class="title poppins-semibold dBlockWeb">LEAFY <br>LANE</h2>
        <h2 class="title poppins-semibold dNoneWeb">LEAFY LANE</h2>
        <p class="dark">Address</p>
        <p class="normal">Building No. 1, Dumdum, Kolkata - 700129, West Bengal, India</p>
        <p class="dark">Need Help</p>
        <p class="normal">Call: 1800-345-6789</p>
        <div class="d-flex icons align-items center">
          <a href="#" style="background-color: #4D6BA9;"><i class="lab la-facebook-f"></i></a>
          <a href="#" style="background-color: #18A0EA;"><i class="lab la-twitter"></i></a>
          <a href="#" style="background-color: #D8513B;"><i class="lab la-google-plus"></i></a>
          <a href="#" style="background-color: #B23A94;"><i class="lab la-instagram"></i></a>
          <a href="#" style="background-color: #F60000;"><i class="lab la-youtube"></i></a>
        </div>
      </div>
      <div class="col-lg-1 dNone"></div>
      <div class="col-lg-4 col-md-6 col-12">
        <p class="dark2">Follow On Instagram</p>
        <div class="img-sec">
          <img src="https://cdn.dtsdev.xyz/blog/1764163967896.jpg" alt="insta images">
          <img src="https://cdn.dtsdev.xyz/blog/1764163933832.jpg" alt="insta images">
          <img src="https://cdn.dtsdev.xyz/blog/1764163895745.jpg" alt="insta images">
          <img src="https://cdn.dtsdev.xyz/blog/1764164008182.jpg" alt="insta images">
        </div>
        <div class="img-sec">
          <img src="https://cdn.dtsdev.xyz/blog/1723631181997.jpeg" alt="insta images">
          <img src="https://cdn.dtsdev.xyz/blog/1723631199252.jpg" alt="insta images">
          <img src="https://cdn.dtsdev.xyz/blog/1714135695392.jpg" alt="insta images">
          <img src="https://cdn.dtsdev.xyz/blog/1714135759003.jpg" alt="insta images">
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-6">
        <p class="dark2">Information</p>
        <div class="footerLinks">
          <a routerLink="/about-us">About Us</a>
          <a routerLink="/contact-us">Contact</a>
          <a routerLink="/terms-and-condition">Terms & Conditions</a>
          <!-- <a href="#">Affiliate</a> -->
          <a routerLink="/privacy-policy">Privacy Policy</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-6">
        <p class="dark2 hidden">Information</p>
        <div class="footerLinks">
          <a href="#">Gift Certificates</a>
          <a href="#">Delivery Information</a>
          <!-- <a href="#">Brands</a> -->
          <a routerLink="/return-policy">Return Policy</a>
          <a routerLink="/faq">FAQs</a>
        </div>
      </div>
    </div>
  </div>

  <div class="customBorder"></div>


  <div class="container">
    <div class="copyrightsSec row align-items-center">
      <div class="col-lg-6 col-md-6">
        <p class="normal mb-0 textalignCenter">Copyrights 2024 LEAFY LANE.All Rights Reserved</p>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="cards text-end textalignCenter">
          <img src="assets/images/skrill.jpg" alt="card image" class="marginZero">
          <img src="assets/images/bitcoin.webp" alt="card image">
          <img src="assets/images/bitcoin.webp" alt="card image">
          <img src="assets/images/paypal.png" alt="card image">
          <img src="assets/images/mastercard.png" alt="card image">
          <img src="assets/images/visa.png" alt="card image">
        </div>
      </div>
    </div>
  </div>
</footer>

