<ngx-loading-bar color="#007bff" [includeSpinner]="false" height="3px"></ngx-loading-bar>
<ff-alerts></ff-alerts>

<app-header></app-header>

<!-- Loader instead of router-outlet -->
<div style="min-height: 25rem;" (click)="outerClick()" *ngIf="!isLoading()">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>


<!-- Login/Signup Modal -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog loginModal">
    <div class="modal-content">
      <ng-container>
        <div class="row">
          <div class="col-sm-6 hideLeft">
            <div class="leftLoginBox">
              <img src="../assets/img/logo.png" alt="bg login" class="logoImg">
              <img src="../assets/images/birds.jpg" alt="bg login" class="loginBg">
              <p *ngIf="loginBox">Login to Get Access to your Account, Orders and Wishlists</p>
              <p *ngIf="signUpBox">Create a new account to get started your journey to make world green</p>
              <p *ngIf="forgotPasswordBox || verifyPasswordBox">Verify your email to chenge password.</p>
              <p *ngIf="changPasswordBox">Enter your new password.</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 hide-padding">
            <div class="rightLoginBox">
              <!-- <h3 class="title">Leafylane</h3> -->
              <button #logimModalCloseBtn class="closeBtn" type="button" data-bs-toggle="modal" data-bs-target="#login" (click)="showLoginBox()"><i
                  class="fa-solid fa-xmark"></i></button>
              <!-- <p class="welcomeText">Welcome to Leafylane</p> -->
              <img src="../assets/img/logo.png" alt="bg login" class="rightLogoImg">
              <ng-container *ngIf="loginBox">
                <div class="formBox">
                  <label for="username">User Email</label>
                  <input type="text" class="userInfo form-control" id="username" placeholder="" type="email" [(ngModel)]="email">
                </div>
                <div class="formBox">
                  <label for="password">Password</label>
                  <div class="passwordBox">
                    <input type="password" [type]="showLogin ? 'text' : 'password'" class="userInfo form-control"
                      id="password" [(ngModel)]="password">
                    <button (click)="togglePasswordSignIn()" *ngIf="!showLogin"><i class="fa-solid fa-eye"></i></button>
                    <button (click)="togglePasswordSignIn()" *ngIf="showLogin"><i
                        class="fa-solid fa-eye-slash"></i></button>
                  </div>
                </div>
                <div class="forgottext">
                  <button (click)="showPasswordBox()">Forgot Password?</button>
                </div>

                <button class="logibBtn1" (click)="login()">Login</button>
                <span class="text2">or</span>

                <div class="socialLoginBox">
                  <button class="socialLogin2"><i class="fa-brands fa-facebook"></i> <span>Sign in with Facebook</span></button>
                  <button class="socialLogin1"><img src="../assets/images/google.png" alt="login partner img"> <span>Sign in
                    with Google</span></button>
                </div>


                <div class="newAccount">
                  <p>New to Leafylane?</p><button (click)="showSignupBox()">Create Account</button>
                </div>
              </ng-container>

              <ng-container *ngIf="signUpBox">
                <div class="formBox">
                  <label for="name">Enter Your Name</label>
                  <input type="text" class="userInfo form-control" id="name" placeholder="" [(ngModel)]="name">
                </div>
                <div class="formBox">
                  <label for="username">User Email</label>
                  <input type="text" class="userInfo form-control" id="username" type="email" placeholder="" [(ngModel)]="email">
                </div>
                <div class="formBox">
                  <label for="password">Password</label>
                  <div class="passwordBox">
                    <input [type]="showSignup ? 'text' : 'password'" class="userInfo form-control" id="password" [(ngModel)]="password">
                    <button (click)="togglePasswordSignUp()" *ngIf="!showSignup"><i
                        class="fa-solid fa-eye"></i></button>
                    <button (click)="togglePasswordSignUp()" *ngIf="showSignup"><i
                        class="fa-solid fa-eye-slash"></i></button>
                  </div>
                </div>

                <button class="logibBtn2" (click)="signup()">Sign Up</button>
                <span class="text2">or</span>

                <div class="socialLoginBox">
                  <button class="socialLogin2"><i class="fa-brands fa-facebook"></i> Sign Up with Facebook</button>
                  <button class="socialLogin1"><img src="../assets/images/google.png" alt="login partner img"> Sign Up
                    with Google</button>
                </div>


                <div class="newAccount">
                  <p>Already have an account?</p><button (click)="showLoginBox()">Sign In</button>
                </div>
              </ng-container>

              <ng-container *ngIf="forgotPasswordBox">
                
                <div class="formBox">
                  <label for="username">Email ID</label>
                  <input type="text" class="userInfo form-control" id="username" placeholder="">
                </div>

                <div class="formBox" *ngIf="otpReceived">
                  <label for="username">Enter OTP sent to your Email</label>
                  <input type="text" class="userInfo form-control" id="username" placeholder="Enter Your OTP Here..">
                </div>

                <button class="logibBtn2" (click)="showVerificationBox()" *ngIf="!otpReceived">Send OTP</button>
                <button class="logibBtn2" *ngIf="otpReceived" (click)="showChangePasswordBox()">Verify OTP</button>

                <div class="newAccount">
                  <p>Back to Login?</p><button (click)="showLoginBox()">Sign In</button>
                </div>
              </ng-container>

              <ng-container *ngIf="verifyPasswordBox">

                <div class="formBox">
                  <label for="username">Enter Your New Password</label>
                  <div class="passwordBox">
                    <input type="password" [type]="showLogin ? 'text' : 'password'" class="userInfo form-control"
                      id="password" placeholder="Enter Your New Password Here">
                    <button (click)="togglePasswordSignIn()" *ngIf="!showChange"><i class="fa-solid fa-eye"></i></button>
                    <button (click)="togglePasswordSignIn()" *ngIf="showChange"><i
                        class="fa-solid fa-eye-slash"></i></button>
                  </div>
                </div>

                <button disabled="true" class="logibBtn2">Update Password</button>
                <!-- //test -->
            

                <div class="newAccount">
                  <p>Back to Login?</p><button (click)="showLoginBox()">Sign In</button>
                </div>
              </ng-container>

            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
