.productsSec {
  margin: 2rem 0;
}

.leftFilterSec {
  background-color: #F8F8F8;
  padding: 24px 20px;
  margin-bottom: 30px;
  margin-inline: 3px;
}

.leftFilterSec h3 {
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.leftFilterSec ul {
  padding: 0;
}

.categories ul li {
  list-style: none;
  margin-bottom: 9px;
}

.categories ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
}

.sublinks {
  padding-left: 15px !important;
  margin-top: 9px;
}

.searchBox h3 {
  margin-top: 2rem;
  margin-bottom: 12px;
}


.searchBox input {
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
}

.searchBox input::placeholder {
  font-weight: 300;
  font-size: 14px;
  color: black;
}

.searchBox button {
  border: none;
  outline: none;
  background: transparent;
}

.searchBox button i {
  font-size: 14px;
}

.searchContainer {
  padding: 7px;
  margin-bottom: 3.3rem;
}

.recentPosts h3 {
  margin-bottom: 6px;
  margin-top: 3rem;
}

.mainPost {
  margin-bottom: 2.4rem;
}

.postBox {
  display: flex;
  padding: 1.11rem 0;
  border-bottom: 1px solid #a2a2a285;
  cursor: pointer;
}

.blogImgBox img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.blogTitle {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 3px;
}

.blogText {
  margin-left: 5px;
}

.blogDate {
  font-size: 13px;
  color: grey;
  margin-bottom: 0;
}

.postImg img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  cursor: pointer;
  background-color: #75869475;
}

.postTitle {
  color: #323232;
  font-size: 21px;
  margin-bottom: 5px;
}

.postDetails {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1.5px solid #8e8e8e45;
}

.postDetails p,
.postDetails a {
  display: inline-block;
  font-size: 14px;
  color: #8e8e8e;
  margin-bottom: 0;
  text-decoration: none;
}

.postDetails img {
  width: 25px;
  height: 15px;
  position: relative;
  right: 4px;
}

.postDetails i {
  margin-right: 9px;
  color: #8e8e8e;
  font-size: 14px;
}

.line {
  width: 1px;
  margin: 0 12px;
  height: 15px;
  background-color: #8e8e8e;
}

.postDescription {
  height: 8rem;
}

.postDescription p {
  font-size: 13px;
  padding: 20px 0 18px;
  margin-bottom: 0;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 7rem;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.postLink {
  background-color: #f2f2f2;
  color: #373737;
  text-decoration: none;
  padding: 15px 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 8.4rem;
  text-align: center;
  display: inline-block;
}

.pagination {
  padding: 12px 15px;
}

.pages button {
  border: none;
  outline: none;
  padding: 4px 3px;
  width: 30px;
  color: #000;
  background-color: transparent;
  margin-left: 4px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
}

.pages button.active {
  background-color: #3A9A43;
  color: #fff;
}

.customPages {
  margin-left: 0;
  font-size: 13.5px;
  font-weight: 300;
  color: #8e8e8e;
}

.dWebBlock {
  display: block;
}

.dWebNone {
  display: none;
}

.blogTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width:840px) {
  .dWebBlock {
    display: none;
  }

  .dWebNone {
    display: block;
  }

  .recentPosts h3 {
    margin-bottom: 6px;
    margin-top: 1.5rem;
  }

  .postText {
    padding: 9px;
  }

  .postDescription p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 6.9rem;
    padding: 12px 0;
  }

  .postTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .leftFilterSec {
    padding: 12px;
  }

  .searchBox h3 {
    margin-top: 0;
    margin-bottom: 6px;
  }

  .searchContainer {
    margin-bottom: 0;
  }

  .pagination {
    padding: 9px 6px;
  }

  .pages button {
    padding: 5px 3px;
  }

  .customPages {
    margin-left: 0;
    /* font-size: 13.5px; */
  }

  .postBox {
    width: 90%;
  }

  .blogTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .productsSec {
    margin-bottom: 1rem;
  }
}


.responsiveFilterSec {
  width: 340px;
  height: fit-content;
  background-color: #3A9A43;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -120%;
  display: none;
  color: white;
  z-index: 30;
  /* overflow-y: scroll;
    scrollbar-width: none; */
  transition: right .5s ease;
}

.responsiveFilter ul {
  padding: 0;
}

.responsiveFilter ul li a {
  color: #fff;
}

.responsiveFilter h3 {
  margin-bottom: 18px;
}

.toggle {
  right: -9%;
  display: block;
}

.responsiveFilter {
  background-color: transparent;
  padding: 24px 20px;
  margin-bottom: 0;
  margin-inline: 3px;
  position: relative;
}

.responsiveFilter input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 15px !important;
  width: 15px !important;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-right: .6rem;
  position: relative;
}

.filterBtnMob {
  padding: 3px 9px;
  border: none;
  outline: none;
  color: white;
  background-color: #3A9943 !important;
  border-radius: 5px;
  text-align: -webkit-center;
  font-size: 15px;
}

.filterBtnMob i {
  font-size: 12px;
}

.CloseBtn {
  position: absolute;
  top: 21px;
  right: 20px;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.CloseBtn i {
  font-size: 18px !important;
}

@media screen and (max-width:500px) {
  .postBox {
    width: 100%;
  }
}

@media screen and (max-width:400px) {
  .customPages {
    margin-left: 0;
    /* font-size: 13.5px; */
    font-size: 13.5px;
    font-weight: 300;
    color: #8e8e8e;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .pages button {
    width: 24px;
    color: #000;
    background-color: transparent;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    padding: 3px;
  }
}