<div class="passwordSec">
    <div class="container">
        <div class="d-flex justify-content-between topTitleBox">
            <h3 class="title">Change Password</h3>
            <button class="addNew" [disabled]="!(password.current && password.new && password.confirm && password.new == password.confirm && password.new.length > 5)"><i class="fa-solid fa-floppy-disk"></i> Update</button>
        </div>
        <div class="passwordBox">
            <p class="title2">Old Password:</p>
            <input type="password" placeholder="Enter Old Password" class="form-control" [(ngModel)]="password.current" >
        </div>
        <div class="passwordBox">
            <p class="title2">New Password:</p>
            <input type="password" placeholder="Enter New Password" class="form-control" [(ngModel)]="password.new" >
        </div>
        <div class="passwordBox">
            <p class="title2">Confirm Password:</p>
            <input type="password" placeholder="Enter Confirm Password" class="form-control" [(ngModel)]="password.confirm" >
        </div>
    </div>
</div>